.couter {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 1rem;
  text-align: center;
  padding: 10px;
  min-width: 130px;

  background-color: rgba(29, 29, 27, 0.5);
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
